.search-bar {
    width: auto;
   display: block;
   width: 0;
}
.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgb(204, 204, 204);
    z-index: 1;
}
.left-section{
   

margin-right: 100px;
display: flex;
align-items: center;
flex-shrink: 0;

}
.hamburger-menu{
    height: 20px;
    margin-right: 30px;
    margin-left: 20px;
}
.youtube-logo{
    height: 25px;
}

.middle-section{
    display: flex;
    flex: 1;
    max-width: 500px;
    align-items: center;
    
}
.search-button{
    height: 40px;
    width: 67px;
    border: 1px;
    border-color: rgb(184, 184, 184);
    box-shadow: inset 1px 2px 5px rgb(213, 213, 213);
    border-style: solid;
    margin-left: -1px;
    
}
.voice-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 40px;
    margin-left: 10px;
    background-color: rgb(243, 243, 243);
}
.voice-icon{
height: 25px;
margin-top: 4px;


}
.search-icon{
    height: 27px;
    margin-top: 4px;
}
.search-bar{
    flex: 1;
    height: 36px;
    border: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(184, 184, 184);
    box-shadow: inset 1px 2px 5px rgb(213, 213, 213);
}
.search-bar::placeholder{
    font-family: Roboto , arial;
    font-size: medium;
    padding-left: 10px;
}
.right-section{
    display: flex;
    width: 200px;
    margin-left: 75px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
    
}
.upload-button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    margin-right: 10px;
}
.upload-icon{
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 4px;
}
.youtube-app{
    height: 30px;
    width: 30px;
    border: none;
}
.youtube-button{
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    margin-right: 10px;
}
.notification-button{
    height: 37px;
    width: 37px;
    border: none;
    background-color: white;
    margin-right: 10px;
    margin-top: 6px;
}
.notifiction-icon{
    height: 37px;
    width: 37px;
    border: none;
    margin-top: 10px;
}
.channel-button{
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    margin-right: 10px;
}
.channel-icon{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 40px;
}